#direction-widget {
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    font-size: 13px;
    margin: 15px;
}

a.search-option {
    text-decoration: none;
}

.search-option:focus, .search-option:hover {
    background: #999;
    color: #FFF;
}


